<tr>
  <td><%= team.city %></td>
  <td><%= team.nickname %></td>
  <td><%= team.wins %></td>
  <td><%= team.losses %></td>
  <td><%= number_to_percentage(team.win_percent * 100.0, precision: 0) %></td>
</tr>
